@tailwind base;
@tailwind components;
@tailwind utilities;




html{scroll-behavior: smooth;}

::selection{
  background: rgb(255, 229, 171);
}


body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  transform: translateZ(0);
}

.bg-text-primary {
  /* Replace with your preferred underline color */
  background-color: #333; /* Example color */
}

.custom-radial-gradient {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}


.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1200px;
  }
}